<template>
    <h1>Welcome to home</h1>
    <div>
        <router-link to="/admin/home">Admin dashboard</router-link>
        <br>
        <router-link to="/login">Login</router-link>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>
