<script setup>
    import Header from './header.vue'
    import SideBar from './sidebar.vue'
</script>
<template>
    <div class="base">
        <Header/>
        <SideBar/>
    </div>
</template>

<script>
    export default {
        name: "base"
    }
</script>

<style scoped>
    @import "./base.css";
</style>
